@import "vars";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
    font-size: 62.5%;
    font-size: calc(1em * .625);
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
body {
    margin:0;
    padding:0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.5;
		background: #fff;
		color: $color-light;
		-webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto
}



main {
	position: relative;
	max-width: 100%;
  margin: 0 auto;
	z-index: 1;
}

a {
	color: $color-light;
  text-decoration: none;
}




h1 {
	font-size: 1.8rem;
	display: inline-block;
	text-transform: uppercase;
	color:$color-brand2;
}

@import "menu";

/* menu */

/* parallax */



.parallax {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
	background: #CC00CC;
}

.parallax__layer {
  position: absolute;
  left: 0;
  top: 0;
}

.parallax__layer--bg {
  top: 0;
  width: 100%;
  height: 100%;
}

.parallax__layer--fg {
  pointer-events: none;
  width: 125%;
  height: 100%;
}

.parallax__layer__cell {
  position: absolute;
  width: 50%;
  margin: 0 5%;
  height: 100%;
	background: #cc0000;
}

.parallax__layer--bg .parallax__layer__cell {
	width: 100%;
	margin:0;
	/*background: url(../images/cote.jpg) no-repeat 50%;
	background-size: cover;*/
	background: #00CCCC;
}

.parallax__layer__cell:nth-child(1) { left: 0%; }
/*.parallax__layer__cell:nth-child(2) { left: 60%; }
.parallax__layer__cell:nth-child(3) { left: 120%; }
.parallax__layer__cell:nth-child(4) { left: 180%; }
.parallax__layer__cell:nth-child(5) { left: 240%; }*/

.parallax__layer__cell:nth-child(2) { left: 100%; }
.parallax__layer__cell:nth-child(3) { left: 200%; }
.parallax__layer__cell:nth-child(4) { left: 300%; }
.parallax__layer__cell:nth-child(5) { left: 400%; }

.parallax__layer--fg .parallax__layer__cell:nth-child(2) { left: 60%; }
.parallax__layer--fg .parallax__layer__cell:nth-child(3) { left: 120%; }
.parallax__layer--fg .parallax__layer__cell:nth-child(4) { left: 180%; }
.parallax__layer--fg .parallax__layer__cell:nth-child(5) { left: 240%; }

.parallax__layer__cell--bg {
  background: hsla(210, 100%, 50%, 1);
}

.parallax__layer__cell--fg {
  /*background: hsla(60, 100%, 50%, 1);*/
}

/* carousel */


.carousel-cell {
  height: 70vh;
  width: 50%;
  margin: 40px 10%; /* total width = 50% + 5% + 5% = 60% */
  background: #8C8;
	opacity: 0.7;
	position: relative;
  /*counter-increment: carousel-cell;*/
}

.carousel-cell h1 {
	position: absolute;
	top:50%;
	left:50%;
	transform: translateY(-50%) translateX(-50%);
}

/* cell number */
/*.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}*/

.carousel {
	top:50vh;
	transform: translateY(-50%);
}

/* visualizer */
.vz-wrapper {
    position: relative;
    height: 400px;
    width: 100%;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#396362), to(#000000));
    background: -webkit-radial-gradient(circle, #396362, #000000);
    background: -moz-radial-gradient(circle, #396362, #000000);
    background: -ms-radial-gradient(circle, #396362, #000000);
    box-shadow: inset 0 0 160px 0 #000;
    cursor: pointer;
}

.vz-wrapper.-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: initial;
    width: initial;
    background: transparent;
    box-shadow: none;
}

@media screen and (min-width: 420px) {
    .vz-wrapper {
        box-shadow: inset 0 0 200px 60px #000;
    }
}
