$base-font-family: "Lato", "sans-serif", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   1.4rem !default;
$color-light: #ffffff !default;
$color-dark: #060606 !default;
$color-brand: #D21044 !default;
$color-brand2: #280B65 !default;
$color-gradient : linear-gradient(90deg,$color-brand 1%,$color-brand2 65%) !default;
